body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #3f3844;

}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
   border-bottom: 1px black solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #28242B;
}

h1.border {
  display: inline;
  line-height: 25px;
  letter-spacing:2px;
  font-weight: bold;
  font-size: 25px;
}

h1.lined {
  font-size: 20px;
  text-align:center;
  line-height:24px;
  letter-spacing:5px;
  color: #28242B;
  font-weight:bold;
  margin-bottom:30px;
  margin-top:10px;
}

h1.large {
font-size: 40px;
line-height: 50px;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 500;
color: #28242B;
}

h3 {
    font-family: 'Lora', 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: rgb(255, 87, 51) /*#BFBFB2*/;}

section.bar {padding: 100px 0;}

a {
  color: black;
  cursor: pointer;
}
a:hover,
a:focus {
  border-bottom: 1px block dotted;
  text-decoration: none;
}

blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn-default {
  color: #28242B;
  padding: 10px;
  border: #28242B solid 4px;
  background: transparent;
}

.btn-default a {color: #28242B;}

.btn-default:hover {border-color: #FF5733;}

ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/* GLOBALS */
.glow {background: #edfbba !important; color: #3f3844 !important;}
.paper {background: #FEF9E7;}
.dark {background: #262626; color: white;}
.white {background: #fff !important;}
.dark h1.border {border-color: white; color: white;}
.dark a, .dark p {color: rgba(255,255,255,0.9); text-decoration: none;}
.lt-grey {background: #f1f1f1;}
a.no-underline {border-bottom: 0px solid transparent;}
.img-border {border: 5px solid #eee;}

.no-top {padding-top: 0px !important;}
.no-bottom {padding-bottom: 0px !important;}
.top-fifty {padding-top: 50px !important;}
.bottom-fifty {padding-bottom: 50px !important;}
.bottom-ten {padding-bottom: 10px !important;}

a img {cursor: pointer;}

.textcenter {text-align: center;}
.imgcenter {margin: 0 auto;}
.circle {border-radius: 100%;}
.light-text {color: #fff !important;}
.dark-text {color: #3f3844;}
.drawn {letter-spacing: 5px; font-family: 'Londrina Solid', sans-serif;}

.typer-section {text-align: center;}

/*FLEX BOX*/
.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: auto;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.item {
  background-color: #f7ffd1;
  padding: 30px 50px;
  margin-top: 10px;
}
/* NAV BAR */

.navbar-default {background: white;}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 500;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 20px;
    font-size: 35px;
    line-height: 20px;
    font-family: 'Londrina Solid', sans-serif;
    letter-spacing: 4px;
}

span.1 {color: #581845;}
span.2 {color: #DAF7A6;}
span.3 {color: #FFC300;}
span.4 {color: #FF5733;}
span.5 {color: #C70039;}
span.6 {color: #900C3F;}


div.color-palette, nav.static-nav div.color-palette {
    width: 100%;
    float: left;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 99;
}

div.color-palette>div, nav.static-nav div.color-palette>div {
    width: calc(100% / 6);
    height: 5px;
    float: left;
}

div.color-palette div:nth-child(1) div, nav.static-nav div.color-palette div:nth-child(1) div {
}

div.color-palette>div div, nav.static-nav div.color-palette>div div {
    width: 100%;
    height: 5px;
}

.no-banner .navbar-custom .nav li a, .no-banner .navbar-custom .navbar-brand {
  color: #3f3844;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
.navbar-default {background: transparent !important;}

  h1.border {
    border: 7px solid #28242B;
    padding: 7px 11px;
    display: inline;
    line-height:24px;
    letter-spacing:5px;
    font-weight: bold;
    font-size: 30px;
  }

  h1.lined {
    font-size: 20px;
    text-align:center;
    line-height:24px;
    letter-spacing:5px;
    color: #28242B;
    font-weight:bold;
    margin-bottom:30px;
    margin-top:10px;
  }

  h1.lined span:after, h2.lined span:before {
      background-color: rgba(51,51,51,0.4);
      height: 3px!important;
  }

  h1.large {
  font-size: 80px;
  line-height: 80px;
}

.typer-section {text-align: left;}

  .navbar-custom {
    background: #f7f7f7;
    border-bottom: 0px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {

  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #5e5e5e;;
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #3f3844;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #FF5733;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #3f3844;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #FF5733;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

/* BANNERS AND HEADERS */

.banner h1 {color: #fff;}
.banner .post-heading .subheading,
.banner .post-heading .meta {color: white;}

.intro-header {
  background: no-repeat center center;
  background-color: #3f3844;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading,
.into-header h1 {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 20px;
  text-align:center;
  line-height:24px;
  letter-spacing:5px;
  font-weight:bold;
  margin-bottom:30px;
  margin-top:10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
  color: white;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

/* ARROW */

.arrow-wrap {
  background: #fff;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  margin: 0px auto;
}

.arrow {
float:left;
position:relative;
width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #c3c3c3 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.8em;
  left: -3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #fff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }


/* POSTS */

.post-preview {min-height: 250px; border-bottom: #eee 1px solid;}
.post-preview > a {
  color: #3f3844;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #FF5733;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview .post-meta {
  color: #c3c3c3;
  font-size: 15px;
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #3f3844;
}
.post-excerpt img {display: none;}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #FF5733;
  text-decoration: underline;
}

.post-excerpt {
  width: 80%;
  font-size: 0.8em;
color: #737373;}

.post-excerpt a {
  color: rgb(255, 195, 0);
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
text-decoration: none; }

  .post-excerpt a:before {content: '> '; font-weight: 700;}

.post-image {
  max-width: 400px;
  float: left;
  margin: 0 50px;
}

.post-image img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: 5px #eee solid;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}


.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Events */
.event-list {font-family: 'Open Sans',Arial,sans-serif;}

.event-list ul li {list-style-type: none;}
.event-date {
    float: left;
    margin: 0 0px 20px 0;
}

.event-list .start-date, .event-list .end-date {
    width: auto!important;
    border-radius: 0px!important;
    background-color: white!important;
    border-right: #000 1px solid!important;
    font-size: 20px;
    color: #000000;
    margin-right: 2em;
    padding-right: 40px;
    text-align: right!important;
    float: left;
}

.event-time, .event-location {
    padding-right: 0.8em;
    color: rgb(144, 12, 63);
}

.event-day {
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 0;
    font-size: 70px;
}
.event-month {
    text-transform: uppercase;
    font-size: 1.0em;
    line-height: 1em;
    padding: 0.4em 0;
}
.event-year {
    font-size: 0.8em;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    padding-bottom: 0.3em;
}

li.event {
    clear: both;
    margin: 0 0.5em 1.5em 0.5em;
    zoom: 1;
}

/* Footer */
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.fa-stack {
    color: #c3c3c3;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #FF5733;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
  margin-bottom: 10px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus
 {
  background-color: #FF5733;
  border: #FF5733solid 4px;
  color: white;

}

.btn-default a:hover,
.btn-default:hover a {color: white; text-decoration: none;}

.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background-color: white;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #FF5733;
  border: 1px solid #FF5733;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #3f3844;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #FF5733;
}
::selection {
  color: white;
  text-shadow: none;
  background: #FF5733;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #FF5733;
}

/* Web Design */

.featured-image {margin-bottom: 20px;}

.web-design ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    list-style-type: none !important;
}

.web-design ul li {
    position: relative;
    overflow: hidden;
    padding: 0 0 0 0px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.web-design ul li:nth-of-type(1n) .project-overlay {background-color: rgba(255, 87, 51, 0.9);}
.web-design ul li:nth-of-type(2n) .project-overlay {background-color: rgba(144, 12, 63, 0.9);}
.web-design ul li:nth-of-type(3n) .project-overlay {background-color: rgba(255, 195, 0, 0.9);}
.web-design ul li:nth-of-type(4n) .project-overlay {background-color: rgba(88, 24, 69, 0.9); }
.web-design ul li:nth-of-type(5n) .project-overlay {background-color: rgba(199, 0, 57, 0.9);}
.web-design ul li:nth-of-type(6n) .project-overlay {background-color: rgba(218, 247, 166, 0.9);}

.web-design ul li:hover .project-overlay {background-color: rgba(255, 255, 255, 0.8); color: #222;}

.web-design ul li .project-overlay p {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;}

.web-design ul li a .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
}

.no-gutter .col-lg-4, .no-gutter .col-xs-6 {
    padding-right:0;
    padding-left:0;
}

.web-design .img-responsive {width: 100%;}
