---
layout: page
title: "About"
drawn-title: "Lauren"
description: "WORKS HARD . SLEEPS . MOMS (MOMS?) (IS A MOTHER)"
header-img: "img/contact-bg.jpg"
---

<section class="textcenter bar no-top">

        <div class="col-md-8 col-md-offset-2">
          <h1 class="lined"><span>OH, HELLO THERE</span></h1>
          <p>
            I’m Lauren Haldeman.
          <p>I am the author of the graphic novel TEAM PHOTOGRAPH (Sarabande Books, 2022), and the poetry collections <br>INSTEAD OF DYING (winner of the Colorado Prize for Poetry)<br>CALENDAY (Rescue Press, 2014)<br> and THE ECCENTRICITY IS ZERO (Digraph Press, 2014).

          <p>I've received the Iowa Artist Fellowship, the Sustainable Arts Foundation Award, the Colorado Prize for Poetry & the fellowships from the Iowa Writers’ Workshop. <p>

          <p>My work has appeared in <i>Poetry, Tin House, Colorado Review, Fence, The Iowa Review</i> and <i>The Rumpus</i>.
          <p>I work as a <a href="https://www.writinguniversity.org/">web developer</a>, web designer and <a href="https://iowareview.org/">editor</a> during the daytime. Also: I’m a mom and make paintings.


      </div>
        <button class="btn btn-default"><a href="https://docs.google.com/document/d/1-G3-kLijE8lg39ISq7PXHfh2deooH6SrITv2EhIfSYA/edit?usp=sharing">Curriculum Vitae</a></button>


</section>

<section class="textcenter">

        <h1 class="lined"><span>HERE’S WHAT I LOOK LIKE</span></h1>
        <p>
        <img class="imgcenter" title="author-photo-1-1" src="/img/author-photo-1-1.png">
        </p>
        <p>
          <br>
          <p>
<!--<button class="btn btn-default"><a href="https://www.patreon.com/laurenhaldeman">HELP SUPPORT MY WORK</a></button>-->
</section>

<section class="textcenter"> <p id="contact"></p>
	<h1 class="border">CONTACT</h1>
	<div class="container"><p></p></div>
  <h1 class="lined"><span>HERE IS HOW TO FIND ME</span></h1>
<p>
<em>Lauren Haldeman, human <br>
I'm in these places:</em>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline">
                        <li>
          <a href="https://www.instagram.com/laurenhaldeman/">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
	  <li>
          <a href="https://www.threads.net/@laurenhaldeman">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-brands fa-threads fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email_username %}
                    <li>
                        <a href="mailto:{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
	   </div>
        </div>
 
<br>AGENT</br>
Maggie Cooper | Aevitas Creative Managment<br>
19 W. 21st Street, Suite 501<br>
New York, NY 10010<br>
617-370-8392<br>
<a href="mcooper@aevitascreative.com">mcooper@aevitascreative.com</a> 
	</div>
</section>

</div>
</div>
</div>
<section class="bar textcenter">
  <h1 class="border">LIFE</h1>
    <div class="container"><p>Right now? The smaller month inside of this month.</p></div>
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe src="https://cdn.lightwidget.com/widgets/ac9ac9102a435f4381ce371882b95d0a.html" scrolling="no"
    allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      <!-- SnapWidget
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/356484" class="snapwidget-widget" allowTransparency="true"
      frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; ">
      </iframe> -->
</section>
