---
layout: page
title: "About"
drawn-title: "Lauren"
description: "WORKS HARD . SLEEPS . MOMS (MOMS?) (IS A MOTHER)"
header-img: "img/contact-bg.jpg"
---

<section class="textcenter bar no-top">

        <h1 class="lined"><span>HELLO THERE</span></h1>
        <p>
        Hi! I’m Lauren Haldeman. I am the author of the poetry collection Calenday (Rescue Press, 2014). I work as the web developer, web designer and editor for this website, as well as several other websites, including the Writing University website at the University of Iowa and the Iowa Review. I received my M.F.A. from the Iowa Writers’ Workshop, and have been a finalist for the Walt Whitman award and the Colorado Prize for Poetry. Also: I’m a mom and make paintings.
        </p>
        <button class="btn btn-default"><a href="https://docs.google.com/document/d/1-G3-kLijE8lg39ISq7PXHfh2deooH6SrITv2EhIfSYA/edit?usp=sharing">Curriculum Vitae</a></button>

</section>

<section class="textcenter">

        <h1 class="lined"><span>HERE’S WHAT I LOOK LIKE</span></h1>
        <p>
        <img class="imgcenter" title="author-photo-1-1" src="/img/author-photo-1-1.png">
        </p>
        <p>
          <br>
          <p>
</section>

<section class="textcenter">
  <h1 class="lined"><span>HERE IS HOW TO FIND ME</span></h1>
<p>
<em>Lauren Haldeman, human <br>
I'm in these places:</em>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline">
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email_username %}
                    <li>
                        <a href="mailto:{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
<a href="mailto:haldeman.lauren@gmail.com">haldeman(dot)lauren(at)gmail(dot)com</a><br>
</section>

</div>
</div>
</div>
<section class="bar textcenter">
  <h1 class="border">LIFE</h1>
    <div class="container"><p>Right now? The smaller month inside of this month.</p></div>
      <!-- SnapWidget -->
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/356484" class="snapwidget-widget" allowTransparency="true"
      frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; ">
      </iframe>
</section>
