---
layout: page
title: "Contact"
drawn-title: "Contact"
description: "Have questions? I have answers (I hope)."
header-img: "img/contact-bg.jpg"
---
<section class="">
<div class="container">
<p>Hello! Want to get in contact with me? <br>
I'm in many places:
<p>

</section>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline text-center">
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email_username %}
                    <li>
                        <a href="mailto:{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </div>
	
	(email)  <a href="mailto:haldeman.lauren@gmail.com">haldeman(dot)lauren(at)gmail(dot)com</a><br>
(facebook) <a href="https://www.facebook.com/wlftn">facebook.com/wlftn</a><br>
(twitter) <a href="https://twitter.com/laurenhaldeman">@laurenhaldeman</a><br>
(instagram) <a href="https://www.instagram.com/laurenhaldeman/">laurenhaldeman</a><br>
(github) <a href="https://github.com/laurenhaldeman">github.com/laurenhaldeman</a><br>

</div>