---
layout: no-banner
description: ""
---
<section class="textcenter">
  <h1 class="border">MOMBOY</h1>
    <div class="container"><p>A World of Comics I Draw on <a href="https://www.instagram.com/laurenhaldeman/">Instagram</a></p></div>
	<div>
	
{% include instagram.html %}
	<section class="bar" class="textcenter" style="background: #F0FFFF;">
		<a href="https://www.instagram.com/laurenhaldeman/"><button class="btn btn-default">Can You Follow Me</button></a>
	</section>
</section>

<section class="bar" style="">
  <div class="container" style="clear: both;">
    <div class="row">
      <div class="col-md-5">
<a href="https://www.sarabandebooks.org/titles-20192039/team-photograph-lauren-haldeman" 
       title="Team Photograph"><img class="imgcenter" src="https://images.squarespace-cdn.com/content/v1/52cecd6ce4b04d7802cf7426/1649258753256-OL3OJNC2EPOWBKPTYHAH/9781956046007_FC.jpeg?format=1000w" 
                                    alt="team-photograph-lauren-haldeman" width="400" height="auto"></a>
      
      </div>

      <div class="col-md-7">
	   
	     <p><hr><p>
         <h1 class="border textcenter">TEAM PHOTOGRAPH</h1>
	    <br></br>
     
        <h1 class="lined" style="text-align: left !important"><span>A GRAPHIC NOVEL</span></h1>
	        
	      
	    <h3>AVAILABLE NOW</h3>  
	      
          <a href="https://www.target.com/p/team-photograph-by-lauren-haldeman-paperback/-/A-85819272"><button class="btn btn-default">TARGET</button></a>
          <a href="https://www.barnesandnoble.com/w/team-photograph-lauren-haldeman/1141100857"><button class="btn btn-default">BARNES & NOBLE</button></a>
          <a href="https://www.amazon.com/Team-Photograph-Lauren-Haldeman/dp/1956046003"><button class="btn btn-default">AMAZON</button></a>
	     <a href="https://www.sarabandebooks.org/titles-20192039/team-photograph-lauren-haldeman"><button class="btn btn-default">SARABANDE</button></a>
	     <a href="https://www.prairielightsbooks.com/book/9781956046007"><button class="btn btn-default">PRAIRIE LIGHTS</button></a>
	    <a href="https://www.indiebound.org/book/9781956046007"><button class="btn btn-default">INDIEBOUND</button></a>
	      
            <p><i>
            "In her extraordinary graphic novel, Lauren Haldeman layers 
              the warfare of soccer over the battlefields of Bull Run, where her soccer team would 
              practice and compete. The park and surrounding town of Fairfax Station, Virginia set the landscape for the book, where 
              the narrator regularly encounters spectral visions of wounded soldiers at night, and where bullet shells, buttons, and human bones surface around the soccer fields in daylight."
		    </p></i>
        <hr>
            
        </div>

          
      </div>
    </div>
  </div>
<!-- <a class="arrow-wrap" href="#content">
          <span class="arrow"></span>
          <span class="hint">scroll</span>
      </a>-->
<!-- Reviews -->
<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="item">
	    <i>
		"As Haldeman’s memoir shows, courage lies in facing the past and endeavoring to understand."    
            </i><p>
	  - <a href="https://lareviewofbooks.org/article/memento-mori-on-lauren-haldemans-team-photograph/">Los Angeles Review of Books</a><p>
	</p>
	  </div>
     <div class="item">
	    <i>"This haunted and haunting work will linger in the minds of readers."</i><p>
	  - <a href="https://www.publishersweekly.com/9781956046007">Publisher’s Weekly</a></p>
   </div>
     <div class="item">
	    <i>"Team Photograph teems with dissonance and liminality but coalesces into something tangible, if still ethereal."</i><p>
	  - <a href="https://coloradoreview.colostate.edu/reviews/team-photograph/">Colorado Review</a></p>
	
	  </div>
    <div class="item">
	    <i>"Melancholy yet powerful, Team Photograph is an intertwining of histories that ebbs and flows with ease."</i><p>
	  - <a href="https://littlevillagemag.com/book-review-team-photograph-by-lauren-haldeman/">The Little Village</a></p>

	  </div>
  </div>
  </div>
</div>

</section>

<section class="dark bar">
  <div class="container textcenter">
  <h1 class="border">COMICS & FILM</h1>
  <p>I like to make<b> multimedia work</b><span style="font-weight: 400;">&nbsp;that combine illustration, video, animation, sound and text</span></p>
<h1 class="lined light-text"><span>POETRY COMICS</span></h1>

  {% include comics.html %}

</div>
</section>

<section class="bar top-fifty bottom-ten white" id="content">
<div class="container textcenter">
<a href="http://upcolorado.com/university-press-of-colorado/item/3254-instead-of-dying" title="Instead of Dying"><img class="imgcenter" src="/img/instead-of-dying-lauren-haldeman-visual-poetry-comic-colorado-prize.jpg" alt="calenday-lauren-haldeman-desk-from-above" width="800" height="400"></a>
  <h1 class="border">INSTEAD OF DYING</h1>

</div>
</section>

<section class="top-fifty bottom-fifty bar">
  <div class="container textcenter">
 <h1 class="lined"><span>WINNER OF THE COLORADO PRIZE FOR POETRY</span></h1>
        <p>
        "Invoking caverns and senators, physicists and aliens, Lauren Haldeman’s second book, <i>Instead of Dying</i>,
		decodes the world of death with a powerful mix of humor, epiphany, and agonizing grief."
        </p>
        <hr>


     <button class="btn btn-default"><a href="https://www.indiebound.org/book/9781885635631">INDIEBOUND</a></button>
        <button class="btn btn-default"><a href="http://upcolorado.com/university-press-of-colorado/item/3254-instead-of-dying">UNIVERSITY PRESS COLORADO</a></button>
  <button class="btn btn-default"><a href="https://www.barnesandnoble.com/w/instead-of-dying-lauren-haldeman/1126977396?ean=9781885635631#/">B & N</a></button>
<button class="btn btn-default"><a href="https://www.amazon.com/Instead-Dying-Colorado-Prize-Poetry/dp/188563563X/ref=sr_1_1?ie=UTF8&qid=1506022661&sr=8-1&keywords=instead+of+dying+lauren+haldeman">AMAZON</a></button>


  </div>
</section>





<section class="bar no-top white" id="content">
<div class="container textcenter">
<img class="imgcenter" src="/img/calenday-lauren-haldeman-desk-from-above.png" alt="instead-of-dying-lauren-haldeman" width="800" height="400">

<h1 class="border">CALENDAY</h1>
</div>
</section>

<section class="top-fifty bottom-fifty bar">
  <div class="container textcenter">
	 <h1 class="lined"><span>FINALIST FOR THE JULIE SUK AWARD</span></h1>
</div>

  <div class="container textcenter">
        <p>
		<i>Calenday</i> is a book of poems that you can read! I wrote it with my mind and my hands.
        It is mostly about blueprints, ghosts, parents &amp; children, but it is also about data-syncing,
        animals showing love, the unseen world, sycamores…
        </p>
        <button class="btn btn-default"><a href="https://rescuepress.co/books/p/calenday">BUY THE BOOK</a></button>
        <button class="btn btn-default"><a href="https://rescuepress.co/books/p/calenday">LEARN MORE</a></button>

  </div>
</section>


<section class="bar" style="">
  <div class="container" style="clear: both;">
    <div class="row">
      <div class="col-md-7 typer-section">



        <h1 class="large">Hi, I'm Lauren</h1>
        <h1 class="large">I Make <span class="typer" id="typer" data-delay="100" data-delim=":"
       data-words="Websites:Poetry:Comics:Humans"></span>

      </h1>
      <a class="arrow-wrap" href="#content">
          <span class="arrow"></span>
          <!--<span class="hint">scroll</span>-->
      </a>
      </div>

      <div class="col-md-5">
        <img alt="" class="circle" title="bg-lauren-haldeman-square" src="/img/bg-lauren-haldeman-square.jpg">
      </div>
    </div>
  </div>
</section>


<section class="textcenter bar no-top">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="lined"><span>OH, HELLO THERE</span></h1>
        <p>
          I’m Lauren Haldeman.
          <p>I am the author of the poetry collections <br>INSTEAD OF DYING (winner of the Colorado Prize for Poetry)<br>CALENDAY (Rescue Press, 2014)<br> and THE ECCENTRICITY IS ZERO (Digraph Press, 2014).

          <p>I've received the Iowa Artist Fellowship, the Sustainable Arts Foundation Award, the Colorado Prize for Poetry & the fellowships from the Iowa Writers’ Workshop. <p>

          <p>My work has appeared in <i>Poetry, Tin House, Colorado Review, Fence, The Iowa Review</i> and <i>The Rumpus</i>.
          <p>I work as a <a href="https://www.writinguniversity.org/">web developer</a>, web designer and <a href="https://iowareview.org/">editor</a> during the daytime. Also: I’m a mom and make paintings.

        <h1 class="lined"><span>AND HERE IS WHAT I LOOK LIKE</span></h1>
        <p>
        <img class="imgcenter" title="lauren haldeman" src="img/author-photo-1-1.png">
       </p>

    </div>
    <!--<button class="btn btn-default"><a href="https://www.patreon.com/laurenhaldeman">HELP SUPPORT MY WORK</a></button>-->
</section>


</div>
</div>
</div>
