<div class="row">
<!-- Images: 700 x 394-->

<div class="col-md-6">
    <p><img src="/img/lauren-haldeman-poetry-magazine.jpg" title="visual poetry comic from TEAM PHOTOGRAPH by Lauren Haldeman"></p>
    <p><a href="https://www.poetryfoundation.org/poetrymagazine/poems/152546/from-team-photograph">FROM TEAM PHOTOGRAPH, Poetry Magazine</a></p>
  </div>

    <div class="col-md-6">
        <p><img src="/img/lauren-haldeman-whitman-poetry-comics.jpg" title="visual poetry comic Whitman by Lauren Haldeman"></p>
        <p><a href="https://northamericanreview.org/open-space/every-atom-no-8">FIELD #6, North American Review</a></p>
      </div>
      <div class="col-md-6">
          <p><img src="//img/lauren-haldeman-jealous-poetry-comics.jpg" title="visual poetry comic Jealous&nbsp;by Lauren Haldeman"></p>
          <p><a href="http://therumpus.net/2015/02/spotlight-lauren-haldemans-jealous/">JEALOUS, The Rumpus</a></p>
        </div>

        <div class="col-md-6">
            <p><img src="/img/lauren-haldeman-lisa-olstein-poetry-comic.jpg" title="visual poetry comic with Lisa Olstein by Lauren Haldeman"></p>
            <p><a href="https://www.poetrynw.org/lisa-olstein-lauren-haldeman-from-pain-studies/?fbclid=IwAR183fOYwb64ACb0PBZ554OQ2QF_L5VXlR4Rnfj1O-sELabIrfmUg8VMSCU">FROM PAIN STUDIES, with Lisa Olstein, Poetry Northwest</a></p>
          </div>

        <div class="col-md-6">
            <p><img src="/img/lauren-haldeman-nome-poetry-comics.jpg" title="visual poetry comic Nome by Lauren Haldeman"></p>
            <p><a href="http://tinhouse.com/nome-a-sonnet/">NOME, Tin House</a></p>
          </div>


          <div class="col-md-6">
                  <p><img src="/img/lauren-haldeman-scientists-poetry-comics.jpg" title="visual poetry comic Scientists by Lauren Haldeman"></p>
                  <p><a href="https://daily.jstor.org/seven-beautiful-illustrations-of-women-scientists-you-should-know/">SEVEN WOMEN SCIENTISTS, JStor</a></p>
                </div>

          <div class="col-md-6">
                    <p><img src="/img/lauren-haldeman-sault-poetry-comics.jpg" title="visual poetry comic SAULT STE. MARIE by Lauren Haldeman"></p>
                    <p><a href="http://www.tupeloquarterly.com/sault-ste-marie-by-lauren-haldeman/">SAULT STE. MARIE, Tupelo Quarterly</a></p>
                  </div>




          <div class="col-md-6">
                    <p><img src="/img/lauren-haldeman-senator-poetry-comics.jpg" title="visual poetry comic Senator by Lauren Haldeman"></p>
                    <p><a href="http://therumpus.net/2017/09/spotlight-the-senator-by-lauren-haldeman/">SENATOR, The Rumpus</a></p>
                  </div>

          <div class="col-md-6">
                            <p><img src="/img/cloud-9.jpg" title="visual poetry comic Cloud 9 by Lauren Haldeman"></p>
                            <p><a href="http://www.jubilat.org/jubilat/archive/issue-30/lauren-haldeman-jesse-nathan-cloud-9/">CLOUD 9, jubilat</a></p>
                          </div>






</div>
<h1 class="lined light-text"><span>POETRY FILMS</span></h1>
<div class="row">

  <div class="col-md-6">
    <p><iframe src="https://player.vimeo.com/video/108148326" width="500" height="281" frameborder="0" title="WE ARE IN A FOREST" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
    <p><a href="https://vimeo.com/121149132">WE ARE IN A FOREST, The Continental Review</a>
  </div>

        <div class="col-md-6">
          <p><iframe src="https://www.youtube.com/embed/EqzXJPp7P4Y?feature=oembed" width="500" height="281" frameborder="0" title="JEALOUS" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
          <p><a href="http://www.pbs.org/newshour/poetry/poet-examines-harsh-reality-jealousy/">JEALOUS, PBS NewsHour</a>
        </div>



        <div class="col-md-6">
          <p><iframe src="https://player.vimeo.com/video/123411806" width="500" height="281" frameborder="0" title="The Size" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
          <p><a href="http://www.propellermag.com/Sept2015/HaldemanSept15.html">THE SIZE, Propeller Magazine</a>
        </div>

        <div class="col-md-6">
            <p><iframe src="https://www.youtube.com/embed/uSb1cNkw0xw?feature=oembed" width="500" height="281" frameborder="0" title="SEVENTEEN POWERS OF VISITATION" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
            <p><a href="https://www.youtube.com/embed/uSb1cNkw0xw">SEVENTEEN POWERS OF VISITATION</a></p>
          </div>








</div>
