<!-- Footer -->
<section class="bar blue" class="textcenter">
<!-- Begin MailChimp Signup Form -->
<h1 class="lined"> DO YOU LIKE NEWSLETTERS?</h1>
<div id="mc_embed_signup class="textcenter">
<form action="//laurenhaldeman.us10.list-manage.com/subscribe/post?u=7977c8ba7fa7cde5ee26e2140&amp;id=b0f81e8c33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="textcenter"><h2 class="textcenter">I have one</h2><br>
<p class="textcenter">A newsletter<p>
<div class="textcenter">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7977c8ba7fa7cde5ee26e2140_b0f81e8c33" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</div>															
</form>
</div>
</section>

<!--End mc_embed_signup-->
<div class="textcenter paper" style="color: #999; padding-top: 100px;">
<h1 class="lined">CONTACT</h1>

  <ul class="list-inline">
	<li>
          <a href="https://www.instagram.com/laurenhaldeman/">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
	  <li>
          <a href="https://www.threads.net/@laurenhaldeman">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-brands fa-threads fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
      {% if site.twitter_username %}
      <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
      {% endif %}
      {% if site.facebook_username %}
      <li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
          <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
      {% endif %}
      {% if site.email_username %}
      <li>
          <a href="mailto:{{ site.email_username }}">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </li>
      {% endif %}
      <p>
  </ul>

AGENT<br>
Maggie Cooper | Aevitas Creative Managment<br>
19 W. 21st Street, Suite 501<br>
New York, NY 10010<br>
617-370-8392<br>
<a href="mcooper@aevitascreative.com">mcooper@aevitascreative.com</a>

<hr>
  
	<a style="font-size: 14px; color: grey;" href="https://laurenhaldeman.tumblr.com">Tumblr Archive</a> | 
	<a style="font-size: 14px;" href="https://www.patreon.com/laurenhaldeman/membership">Help Support My Work</a>
	<div style="font-size: 14px;">&copy; 2024 Copyright Lauren Haldeman</div>
</div>





<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/typer.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scroll-arrow.js " | prepend: site.baseurl }}"></script>
