<div class="container">
<div class="row">

<div class="col-md-6">
    <h1 class="lined light-text">INTERVIEWS</h1>
    <ul>
          <li><a href="https://www.evilwitches.com/p/a-word-with-lauren-haldeman?utm_campaign=post&utm_medium=web">Evil Witches: A Word with Lauren Haldeman</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </ul>  
</div>

<div class="col-md-6">
         <h1 class="lined light-text">ARTICLES</h1>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </ul>
      </div>
</div>
</div>
