<div class="container"><h1 class="border">RECENT</h1>
    <p>
<div class="row">

<div class="col-md-4">
    <h1 class="lined" style="text-align: left !important;">INTERVIEWS</h1>
    <ul style="list-style: square; list-style-position: inside; padding-left: 0;">
          <li><a href="https://www.evilwitches.com/p/a-word-with-lauren-haldeman?utm_campaign=post&utm_medium=web">Evil Witches: A Word with Lauren Haldeman</a></li>
        <li><a href="https://www.publishersweekly.com/pw/by-topic/authors/interviews/article/90673-soccer-balls-and-bullet-shells-pw-talks-with-lauren-haldeman.html">Interview: <i>Publishers Weekly</i></a></li>
          <li><a href="https://www.tupeloquarterly.com/editors-feature/14250-2/"><i>Tupelo Quarterly</i></a></li>    
        </ul>  
</div>

<div class="col-md-4">
         <h1 class="lined" style="text-align: left !important;">ARTICLES</h1>
            <ul style="list-style: square; list-style-position: inside; padding-left: 0;">
          <li><a href="https://lareviewofbooks.org/article/memento-mori-on-lauren-haldemans-team-photograph/">Team Photograph: <i>Los Angeles Review of Books</i></a></li>
          <li><a href="https://www.publishersweekly.com/9781956046007">Review of Team Photograph: <i>Publishers Weekly</i></a></li>
          <li><a href="https://coloradoreview.colostate.edu/reviews/team-photograph/">Colorado Review</a></li>
          <li><a href="https://littlevillagemag.com/author/lauren-haldeman/">Momboy in <i>The Little Village</i></a></li>
            
        </ul>
      </div>
    <div class="col-md-4">
    <h1 class="lined" style="text-align: left !important">PODCASTS</h1>
        <ul style="list-style: square; list-style-position: inside;
  padding-left: 0;">
         
        <li><a href="https://open.spotify.com/episode/6Q0rDQCZuohhEcWDCN7kN9">OTHERPPL with Brad Listi</a></li>
          <li><a href="https://coloradoreview.colostate.edu/2022/01/in-conversation-with-lauren-haldeman/">Colorado State University Podcast: Interview</a></li>
        <li><a href="https://writinguniversity.org/news-archive/2023/08/episode-1-interview-lauren-haldeman-author-team-photograph">The Writing Matters Podcast</a></li>
                
        </ul>  
</div>
</div>
</p>
</div>
