<div class="container">
<div class="row">

<div class="col-md-6">
    <h1 class="lined light-text">INTERVIEWS</h1>
    <ul>
          <li><a href="https://www.evilwitches.com/p/a-word-with-lauren-haldeman?utm_campaign=post&utm_medium=web">Evil Witches: A Word with Lauren Haldeman</li>
          <li><a href="https://coloradoreview.colostate.edu/2022/01/in-conversation-with-lauren-haldeman/">Colorado State University Podcast: Interview</a></li>
        
        </ul>  
</div>

<div class="col-md-6">
         <h1 class="lined light-text">ARTICLES</h1>
        <ul>
          <li><a href="https://lareviewofbooks.org/article/memento-mori-on-lauren-haldemans-team-photograph/">Los Angeles Review of Books</a></li>
          <li><a href="https://www.publishersweekly.com/9781956046007">Publisher’s Weekly</a></li>
          <li><a href="https://coloradoreview.colostate.edu/reviews/team-photograph/">Colorado Review</a></li>
          <li><a href="https://littlevillagemag.com/author/lauren-haldeman/">Momboy in The Little Village</a></li>
            
        </ul>
      </div>
</div>
</div>
